<!DOCTYPE html>
<html>
<head>
    <title>Display</title>
</head>
<body>
    <img id="dynamicImage" alt="Dynamic Image" width="1024" />
    
    <script type="text/javascript">
        // Function to update image
        function updateImage() {
            const imageUrl = "/last";
            
            // Use a cache-busting URL parameter to ensure a new image is fetched each time
            const uniqueUrl = `${imageUrl}?t=${new Date().getTime()}`;
            console.log(uniqueUrl)
            document.getElementById("dynamicImage").src = uniqueUrl;

            // Refresh the image every 30 seconds (30000 milliseconds)
            setTimeout(updateImage, 30000);
        }

        // Initial call to start the loop
        updateImage();
    </script>
</body>
</html>
