<!DOCTYPE html>
<html>
<head>
    <title>Start</title>
</head>
<body>
    <input type="text" id="prompt" placeholder="Prompt">
    <input type="text" id="artist" placeholder="Artist name">
    <button onclick="sendData()">Send</button>

    <script>
        async function sendData() {
            const prompt = document.getElementById("prompt").value;
            const artist = document.getElementById("artist").value;
            const response = await fetch('http://localhost:5000/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ prompt, artist })
            });
            const data = await response.json();
            console.log(data);

            // TODO: Display the data on the page, queue number, estimated time, countdown!..
            // TODO: show usage tips
        }
    </script>
</body>
</html>
